.aboutSection {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.aboutSection section {
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0px 6px 1px whitesmoke;
}
.aboutSection img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.aboutHeader {
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
}

.aboutSection h2 {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 45px;
  margin: 0;
}
.aboutSection h2 span {
  color: #bfbf17;
  font-size: 3rem;
  padding-left: 20px;
}
.aboutSection p {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 2rem;

  margin: 5px;
}

@media screen and (max-width: 1180px) {
  .aboutSection p {
    font-size: 1rem;
  }
  .aboutHeader {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 875px) {
  .aboutSection img {
    width: 75px;
    height: 75px;
  }
  .aboutSection {
    justify-content: center;
    margin: 0 auto;
  }
  .aboutHeader {
    flex-direction: column;
    width: 400px;
  }
  .aboutHeader h2 {
    font-size: 1.5rem;
    padding: 0 0 10px 0;
  }
  .aboutSection p {
    line-height: 1rem;
    width: 400px;
  }
  .aboutSection h2 span {
    font-size: 2rem;
  }
}
