form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 700px;
  margin: auto;
  font-size: 2rem;
}

form input {
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 2px 10px;
}
form textarea {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
}
form button {
  font-size: 2rem;
  width: 200px;
  margin: 20px auto;
  background-color: #bfbf17;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
}
form button:hover {
  cursor: pointer;
  color: #454577;
  /* background-color: #bfbf17b0; */
}
.contactForm h3 {
  text-align: center;
  font-size: 2rem;
}
.contactForm {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.contactForm p {
  padding: 3px 0 3px 5px;
  margin: 0;
  font-size: 1rem;
  color: rgb(247, 13, 13);
}
.content {
  width: 100%;
}
@media screen and (max-width: 1180px) {
  form {
    width: 600px;
  }
}

@media screen and (max-width: 660px) {
  form {
    width: 300px;
    height: 500px;
  }
}
