.mainNav .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  padding-bottom: 50px;
}
.mainNav .links a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: 900;
}
.mainNav ul {
  margin: 0;
  padding: 0;
}
.links li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 10px 0;
  height: 90px;
}
.navCard:hover {
  background-color: rgba(7, 7, 7, 0.596);
  border-left: 8px solid #bfbf17;
  color: #454577;
}

@media screen and (max-width: 1180px) {
  .navCard {
    width: 75px;
  }
}
@media screen and (max-width: 875px) {
  .mainNav img {
    width: 20px;
  }
  .navCard:hover {
    border: none;
    color: #bfbf17;
  }
  .navCard {
    width: 50px;
  }
}
